@font-face {
    font-family: 'Peace Sans';
    src: local('Peace Sans'), local('PeaceSans'), url('Peacesans.woff2') format('woff2'), url('Peacesans.woff') format('woff'), url('Peacesans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
